cache:
  enabled: true
  cache_ttl: 3600

monitor:
  enabled: false
  collect_metrics: true

chunker:
  default_splitter: markdown
  chunk_size: 1000
  chunk_overlap: 200
  enabled: false

ingestion:
  max_threads: 10
  batch_size: 100
  retry_attempts: 3
  retry_delay: 1
  retry_backoff: 2
  loaders:
    file_mappings:
        .json: langchain_community.document_loaders.JSONLoader
        .jsonl: langchain_community.document_loaders.JSONLoader
        .yaml: langchain_community.document_loaders.JSONLoader
        .csv: langchain_community.document_loaders.CSVLoader
        .epub: langchain_markitdown.loaders.EpubLoader
        .xlsx: langchain_markitdown.loaders.XlsxLoader
        .html: langchain_markitdown.loaders.HtmlLoader
        .bmp: langchain_markitdown.loaders.ImageLoader
        .jpeg: langchain_markitdown.loaders.ImageLoader
        .jpg: langchain_markitdown.loaders.ImageLoader
        .png: langchain_markitdown.loaders.ImageLoader
        .tiff: langchain_markitdown.loaders.ImageLoader
        .md: langchain_community.document_loaders.TextLoader
        .pdf: langchain_community.document_loaders.PyMuPDFLoader
        .pptx: langchain_markitdown.loaders.PptxLoader
        .docx: langchain_markitdown.loaders.DocxLoader
        .xml: langchain_markitdown.loaders.RssLoader
        .txt: langchain_community.document_loaders.TextLoader
        .rtf: langchain_community.document_loaders.RtfLoader
        arxiv: langchain_community.retrievers.ArxivRetriever
        website: langchain_community.document_loaders.WebBaseLoader

embeddings:
  enabled: true  
  default_client: openai
  clients:  
    openai:  
      client: openai
      model: "text-embedding-3-large"
      dimensions: 1024
    huggingface:      
      model: "sentence-transformers/all-mpnet-base-v2"
      client: huggingface
      model: "sentence-transformers/all-mpnet-base-v2"
      api_key: "your_default_api_key"     

vector_store:
  enabled: true
  store_type: chroma
  params:
    collection_name: ragdoll
    persist_directory: ".ragdoll/chroma"
