langchain
langchain_openai
langchain_community
langchain-google-community
langchain-markitdown
openai
python-dotenv
pyarrow
pandas
colored
pdfminer
pdf2image 
Pillow
pytesseract
markitdown[all]
google-api-python-client>=2.100.0
lxml
PyMuPDF
faiss-cpu
colorlog
sentence_transformers 
pyperclip
requests
bs4